.body{
    padding: 0px;
    margin:0px;
    
   
}

.navContainer{
    background:transparent;
    height: 35px;
    padding: 2.5rem;
    z-index: 3;
    width: 100%;
    position: fixed;
    font-weight: 700;
    font-size: 20px;
   
    animation: nav-load 600ms ease-in;

  }
.navContainer.active{
    background:rgba(114, 112, 112, 0.644) ;
  
}
  @keyframes nav-load{
      0%{
        transform: translateY(-100%);
      }
      100%{
          transform: translateY(0);

      }
  }
  .links{
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
  
    
      
      }
    #hidden{
        display: flex;
    }
  .links a{
        padding-top: 1rem;
      margin-right: 4rem;
  } 
  
  .navMenu{
      display: none;
  }
  .underline::after{
      content:'';
      display: block;
      width: 0;
      height: 3px;
      background:  #C84493;;
      transition: width .2s;

  }
.underline:hover::after{
    width: 100%;
    transition: width .2s;
}

.navContainer .links a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    animation-name: nav-link-load;
    animation-duration: 400ms;
    animation-timing-function: ease-in;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
   
   
}
@keyframes nav-link-load{
    0%{
      transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);

    }
}

.navContainer .links a:hover{
    color: #C84493;
}

.navLogo{
  position: absolute;

   width: 20rem;
   height: 20rem;
    margin-top: -9rem;
   

}


@media only screen and (max-width: 1025px){
    .navContainer>.links{
        font-size: 28px;
        margin-top: 0.1rem;
        padding-right: 20px;
    }
    .navLogo{
        width: 25rem;
        height: 25rem;
        margin-top: -11rem;
        margin-left: -11rem;
    }
    .navContainer{
  padding: 4rem;
    
      }
    
}


 @media only screen and (max-width: 769px) {
   
    .links{
        display: none;
    }
 
    #hidden{
        left: 25rem;
        z-index: 1;
        right: 0px;
        flex-direction: column;
        justify-content:space-around;
        position: fixed;
        top: 6rem;
        height: 26rem;
        width: auto;
        background-color:rgba(114, 112, 112, 0.74);
        text-align: center;
        border: 1px solid white;
       
     }
   
   
    .navMenu{
       display: flex;
       margin-left: auto;
        height: 2rem;
        margin-right: 5rem;
        
    }
   
    /* .navContainer #hidden{
        display: flex;
        position: absolute;
        left: 0px;
        top: 2rem;
        height: auto;
        width: 100%;
        background-color: red;
    } */

}
@media only screen and (max-width: 650px) {
   
   #hidden{
        left: 15rem;
        right: 0px;
        flex-direction: column;
        justify-content:space-around;
        position: fixed;
        top: 3.9rem;
        height: 25rem;
        width: auto;
      
        background-color:rgba(114, 112, 112, 0.74);
        text-align: center;
        border: 1px solid white;
       
     }
}
@media only screen and (max-width: 415px) {
    .navLogo{
        width: 20rem;
        height: 20rem;
        top: 5rem;
        left: 5rem;
    }
    .navContainer{
        padding: 3rem;
          
            }
 
    #hidden{
        left: 10rem;
        right: 0px;
        flex-direction: column;
        justify-content:space-around;
        position: fixed;
        top: 4rem;
        height: 25rem;
        width: auto;
        background-color:rgba(114, 112, 112, 0.74);
       text-align: center;
        border: 1px solid white;
      
     }
}
@media only screen and (max-width: 400px) {
  
   #hidden{
        left: 5rem;
        right: 0px;
        flex-direction: column;
        justify-content:space-around;
        position: fixed;
        top: 3.9rem;
        height: 25rem;
        width: auto;
        background-color:rgba(114, 112, 112, 0.74);
      
        text-align: center;
        border: 1px solid white;
    
     }
}